.card {
  width: 250px;
  /* display: flex;
  flex-flow: column nowrap;
  margin: auto; */
}

.cardMovieTitle {
  margin-bottom: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.star {
  fill: white;
  margin-left: 6px;
}

.cardRatings {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.cardContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
}

.card {
  background-color: #282c34;
  height: 80vh;
  width: 60vw;
  position: relative;
  display: flex;
}

.card .imgContainer {
  /* height: 80%;
  width: 300px;
  margin-top: 10%; */
}
.card img {
  width: 400px;
  height: 100%;
}

.displayFalse {
  display: none;
}

.closeCard {
  background-color: inherit;
  border: none;
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 15px;
  right: 15px;
}

.cardMovieTitle {
  font-size: 2.2rem;
}
